doctype html
html(lang=langCode)
  head
    title #{siteName}
    meta(name='description', content=desc)
    meta(name='keywords', content=keywords)
    include ./parts/react-header
  body
    #content
      .pd2
        include ./parts/flags
        include ./parts/title
        include ./parts/badge
        include ./parts/download
        include ./parts/container

        #container
    script.
      window.initShape = 'light'
    include ./parts/react-common
    include ./parts/react-footer
