doctype html
html(lang=langCode)
  head
    title #{siteName} - Privacy Policy
    meta(name='description', content='Privacy Policy for electerm website and services')
    meta(name='keywords', content=keywords)
    meta(property='og:title' content='electerm - Privacy Policy')
    meta(property='og:description' content='Privacy Policy for electerm website and services')
    meta(name='twitter:title' content='electerm - Privacy Policy')
    meta(name='twitter:description' content='Privacy Policy for electerm website and services')
    include ./parts/react-header
  body
    include ./parts/header
    main.privacy-page
      .container
        .privacy-content
          h1 Privacy Policy
          p.last-updated Last updated: June 18, 2026
          p This Privacy Policy describes how electerm ("we", "us", or "our") collects, uses, and shares information when you visit #[a(href='https://electerm.org') electerm.org] (the "Website").

          h2 1. Information We Collect
          h3 1.1 Automatically Collected Information
          p When you visit our Website, we automatically collect certain information through cookies and similar technologies, including:
          ul
            li IP address
            li Browser type and version
            li Operating system
            li Pages visited and time spent on pages
            li Referring website addresses
            li Device identifiers

          h3 1.2 Cookies and Similar Technologies
          p We use the following types of cookies:
          table
            tr
              th Type
              th Purpose
              th Duration
            tr
              td Essential Cookies
              td Required for the Website to function properly
              td Session
            tr
              td Analytics Cookies (Google Analytics)
              td To understand how visitors use our Website
              td Up to 2 years
            tr
              td Advertising Cookies (Google AdSense)
              td To serve relevant advertisements
              td Up to 2 years

          h2 2. How We Use Your Information
          p We use the collected information to:
          ul
            li Operate and maintain the Website
            li Analyze Website traffic and usage patterns
            li Serve relevant advertisements through Google AdSense
            li Improve user experience
            li Comply with legal obligations

          h2 3. Google Services
          h3 3.1 Google Analytics
          p We use Google Analytics to analyze the use of our Website. Google Analytics gathers information about Website use by means of cookies. The information gathered is used to create reports about the use of our Website.
          p Google's privacy policy is available at: #[a(href='https://policies.google.com/privacy', target='_blank', rel='noreferrer') https://policies.google.com/privacy]

          h3 3.2 Google AdSense
          p We use Google AdSense to serve advertisements on our Website. Google AdSense uses cookies to serve ads based on your prior visits to our Website or other websites.
          p Google uses advertising technologies (such as cookies) to serve ads on our Website. Google may use your IP address and other identifiers to:
          ul
            li Serve personalized or non-personalized ads
            li Measure ad effectiveness
            li Prevent fraud and abuse
          p Starting August 3, 2026, Google will use IP addresses for ad measurement and personalization in the European Economic Area (EEA), United Kingdom, and Switzerland, utilizing privacy-enhancing technologies (PETs) such as on-device processing, trusted execution environments, and secure multi-party computation.
          p For more information about how Google uses data when you use our Website, visit: #[a(href='https://policies.google.com/technologies/partner-sites', target='_blank', rel='noreferrer') https://policies.google.com/technologies/partner-sites]

          h2 4. Your Rights (EEA, UK, and Switzerland)
          p If you are located in the EEA, UK, or Switzerland, you have the following rights under applicable data protection laws:
          ul
            li #[strong Right to Access:] You can request a copy of your personal data
            li #[strong Right to Rectification:] You can request correction of inaccurate data
            li #[strong Right to Erasure:] You can request deletion of your personal data
            li #[strong Right to Restrict Processing:] You can request that we limit how we use your data
            li #[strong Right to Data Portability:] You can request a copy of your data in a machine-readable format
            li #[strong Right to Object:] You can object to the processing of your personal data
            li #[strong Right to Withdraw Consent:] You can withdraw your consent at any time

          h2 5. Consent and Cookie Choices
          p When you first visit our Website, you will be presented with a cookie consent banner. You can:
          ul
            li #[strong Accept all cookies:] Enable all cookies including analytics and advertising
            li #[strong Reject non-essential cookies:] Only essential cookies will be used; personalized ads will be disabled
          p You can change your preferences at any time by clearing your browser cookies and revisiting the Website.

          h2 6. Legal Basis for Processing (EEA, UK, and Switzerland)
          p We process your personal data based on:
          ul
            li #[strong Consent:] For analytics and advertising cookies (you can withdraw consent at any time)
            li #[strong Legitimate Interests:] For operating and securing our Website

          h2 7. Data Retention
          p Analytics data collected by Google Analytics is retained for 26 months. Cookie consent preferences are stored locally in your browser.

          h2 8. Third-Party Links
          p Our Website contains links to third-party websites (e.g., GitHub, SourceForge). We are not responsible for the privacy practices of these websites.

          h2 9. Children's Privacy
          p Our Website is not directed to children under 16. We do not knowingly collect personal information from children.

          h2 10. Changes to This Policy
          p We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page and updating the "Last updated" date.

          h2 11. Contact Us
          p If you have any questions about this Privacy Policy, please contact us:
          ul
            li Email: #[a(href='mailto:zxdong@gmail.com') zxdong@gmail.com]
            li Website: #[a(href='https://electerm.org') electerm.org]
            li GitHub: #[a(href='https://github.com/electerm/electerm', target='_blank', rel='noreferrer') github.com/electerm/electerm]
    include ./parts/footer
    include ./parts/react-footer
