doctype html
html(lang=langCode)
  head
    title #{siteName} - sponsor electerm
    meta(name='description', content=desc)
    meta(name='keywords', content=keywords)
    meta(property='og:title' content='electerm - Support Open Source Development')
    meta(property='og:description' content='Sponsor electerm terminal client development')
    meta(name='twitter:title' content='electerm - Support Open Source Development')
    meta(name='twitter:description' content='Sponsor electerm terminal client development')
    include ./parts/react-header
  body
    #content
      .pd2
        include ./parts/title
        //- include ./parts/badge
        include ./parts/sponsor
        include ./parts/download
        include ./parts/container
        include ./parts/react-common
    #container
    include ./parts/react-footer
