doctype html
html(lang=langCode)
  head
    title #{siteName} - Video guide
    meta(name='description', content=desc)
    meta(name='keywords', content=keywords)
    meta(property='og:title' content='electerm - Video Guides and Tutorials')
    meta(property='og:description' content='Watch tutorial videos and demos for electerm terminal client')
    meta(name='twitter:title' content='electerm - Video Guides and Tutorials')
    meta(name='twitter:description' content='Watch tutorial videos and demos for electerm terminal client')
    include ./parts/react-header
    include ./parts/video-style
  body
    #content
      .pd2
        //- include ./parts/lang-video
        include ./parts/videos-insert
        include ./parts/badge
        include ./parts/download
        include ./parts/container
        include ./parts/react-common
    #container
    include ./parts/video-script
    include ./parts/react-footer
