footer#footer
  .list-group.mb-2.list-group-flush
    a.list-group-item(href='https://github.com/electerm/electerm') github
    a.list-group-item(href='https://github.com/electerm/electerm/releases') changelog
    a.list-group-item(href='https://github.com/electerm/electerm/issues') #{lang.lang.menu.reportIssue}
    a.list-group-item(href='https://electerm.html5beta.com') #{lang.lang.menu.homepage}
    a.list-group-item(href='https://github.com/electerm/electerm-locales') electerm-locales
    .list-group-item License: MIT
    .list-group-item
      | &copy; 2017 ~
      | by
      a.ml-1(href='https://html5beta.com', target='_blank') ZHAO Xudong

