script(src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.1.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js')
script.
  ;(function() {
    
    prettyPrint()

  })()
