doctype html
|<html>
|<head>
|<meta charset="UTF-8" />
|<meta http-equiv="x-ua-compatible" content="IE=edge" />
|<link href="/favicon.ico" type="image/x-icon" rel="icon">
|<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
|<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"  crossorigin="anonymous">
|<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/css/tether-theme-arrows-dark.min.css"  crossorigin="anonymous">