section.home-author
  .container
    .author-inner
      .author-text
        h2 #{lang.lang.homeAuthorTitle}
        p #{lang.lang.homeAuthorDesc1}
        a.author-link(href='https://github.com/zxdong262', target='_blank', rel='noreferrer')
          | #{lang.lang.homeAuthorGithub}
