section.community
  .container
    h2 Join the Community
    img.community-qr(src='https://electerm.html5beta.com/electerm-wechat-group-qr.jpg' alt='WeChat Group QR Code')
    p Join our WeChat community for support and updates
