section.community
  .container
    h2 #{lang.lang.communityTitle}
    img.community-qr(src='https://electerm.org/electerm-wechat-group-qr.jpg' alt='WeChat Group QR Code')
    p #{lang.lang.communityWechatDesc}
