footer.site-footer
  .container
    .footer-grid
      .footer-brand
        .footer-brand-name
          span electerm
        p Terminal/SSH/SFTP/Telnet/Serial port/RDP/VNC/Spice client for Linux, macOS, and Windows.
      .footer-col
        h4 Product
        ul
          li: a(href='#downloads') Download
          li: a(href='https://cloud.electerm.org', target='_blank', rel='noreferrer') Electerm Online
          li: a(href='/videos') Video Guides
          li: a(href='https://github.com/electerm/electerm/wiki', target='_blank', rel='noreferrer') Documentation
          li: a(href='/sponsor-electerm/') Sponsor
      .footer-col
        h4 Community
        ul
          li: a(href='https://github.com/electerm/electerm', target='_blank', rel='noreferrer') GitHub
          li: a(href='https://github.com/electerm/electerm/discussions', target='_blank', rel='noreferrer') Discussions
          li: a(href='https://github.com/electerm/electerm/issues', target='_blank', rel='noreferrer') Report Issues
          li: a(href='https://github.com/electerm/electerm-locales', target='_blank', rel='noreferrer') Translations
      .footer-col
        h4 Related
        ul
          li: a(href='https://electerm-cloud.html5beta.com/', target='_blank', rel='noreferrer') electerm cloud
          li: a(href='https://github.com/electerm/electerm-web', target='_blank', rel='noreferrer') electerm-web
          li: a(href='https://github.com/tylerlong/manate', target='_blank', rel='noreferrer') manate
    .footer-bottom
      p © 2024 ZHAO Xudong. MIT License.
      .footer-bottom-links
        a(href='https://html5beta.com', target='_blank', rel='noreferrer') Author
        a(href='http://github.com/zxdong262', target='_blank', rel='noreferrer') GitHub
        a(href='https://html5beta.com/page/timeline.html', target='_blank', rel='noreferrer') Resume
