script(crossorigin, src='//unpkg.zhimg.com/react@18/umd/react.production.min.js')
script(crossorigin, src='//unpkg.zhimg.com/react-dom@18/umd/react-dom.production.min.js')
script(crossorigin, src='https://cdn.jsdelivr.net/npm/canvas-shapes-bg/dist/canvas-shapes-bg.min.js')
script(src=jsUrl)
script(async=true, src='https://www.googletagmanager.com/gtag/js?id=UA-111653004-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111653004-1');