//- script(crossorigin, src='//unpkg.zhimg.com/react@18/umd/react.production.min.js')
//- script(crossorigin, src='//unpkg.zhimg.com/react-dom@18/umd/react-dom.production.min.js')
script(async, src='https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js')
script(type='importmap').
  {
    "imports": {
      "three": "https://unpkg.com/three@0.155.0/build/three.module.js",
      "universe-bg": "//unpkg.com/universe-bg/dist/universe-bg.mjs"
    }
  }
//- script(crossorigin, type='module', src='//unpkg.com/three@0.155.0/build/three.module.js')
//- script(crossorigin, type='module', src='//unpkg.com/universe-bg/dist/universe-bg.mjs')
script(type='module').
  import UniverseBg from 'universe-bg'
  window.x = new UniverseBg({
    className: 'animate',
    // shootingStarCount: 150,
    // starCount: 1000,
    // starSize: 30,
    shootingStarSize: 0.4,
    shootingStarColor: 0x666666,
    starColor: 0x666666,
    bgColor: 0xffffff
    // starDistance: 80,
    // shootingStarDistance: 40
  })

- if (dev)
  script(type='module').
    import RefreshRuntime from '/@react-refresh'
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => {}
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
  script(src='/@vite/client', type='module')
  script(src=jsUrl, type='module')
//- - else
//-   script(src=jsUrl, type='module')
script(async=true, src='https://www.googletagmanager.com/gtag/js?id=G-NT5W8GL31W')
script.
  function toggleFullscreen(iframeId) {
    const iframe = document.getElementById('demo');
    if (!iframe) return;

    if (document.fullscreenElement === iframe) {
      // Exit fullscreen
      if (document.exitFullscreen) {
        document.exitFullscreen();
      } else if (document.webkitExitFullscreen) { // Safari
        document.webkitExitFullscreen();
      } else if (document.msExitFullscreen) { // IE/Edge
        document.msExitFullscreen();
      }
    } else {
      // Enter fullscreen
      if (iframe.requestFullscreen) {
        iframe.requestFullscreen();
      } else if (iframe.webkitRequestFullscreen) { // Safari
        iframe.webkitRequestFullscreen();
      } else if (iframe.msRequestFullscreen) { // IE/Edge
        iframe.msRequestFullscreen();
      }
    }
  };
  document.getElementById('fullscreen-toggle')?.addEventListener('click', function () {
    toggleFullscreen('demo');
  });
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NT5W8GL31W');
