//- script(crossorigin, src='//unpkg.zhimg.com/react@18/umd/react.production.min.js')
//- script(crossorigin, src='//unpkg.zhimg.com/react-dom@18/umd/react-dom.production.min.js')
script(type='module').
  import TerminalBg from '/js/animate.js'
  window.x = new TerminalBg({
    className: 'animate',
    color: '#666666',
    bgColor: '#ffffff'
  })

- if (dev)
  script(type='module').
    import RefreshRuntime from '/@react-refresh'
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => {}
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
  script(src='/@vite/client', type='module')
  script(src=jsUrl, type='module')
//- - else
//-   script(src=jsUrl, type='module')
script(async=true, src='https://www.googletagmanager.com/gtag/js?id=G-0FRVEJZ2Z2')
script(async=true, src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3871790631789822' crossorigin='anonymous')
script.
  function toggleFullscreen(iframeId) {
    const iframe = document.getElementById('demo');
    if (!iframe) return;

    if (document.fullscreenElement === iframe) {
      // Exit fullscreen
      if (document.exitFullscreen) {
        document.exitFullscreen();
      } else if (document.webkitExitFullscreen) { // Safari
        document.webkitExitFullscreen();
      } else if (document.msExitFullscreen) { // IE/Edge
        document.msExitFullscreen();
      }
    } else {
      // Enter fullscreen
      if (iframe.requestFullscreen) {
        iframe.requestFullscreen();
      } else if (iframe.webkitRequestFullscreen) { // Safari
        iframe.webkitRequestFullscreen();
      } else if (iframe.msRequestFullscreen) { // IE/Edge
        iframe.msRequestFullscreen();
      }
    }
  };
  document.getElementById('fullscreen-toggle')?.addEventListener('click', function () {
    toggleFullscreen('demo');
  });
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0FRVEJZ2Z2');
