.mg3y.pd3y
  a(href='https://html5beta.com', rel='noreferrer', target='_blank').mg3r © ZHAO Xudong
  a(href='http://github.com/zxdong262', rel='noreferrer', target='_blank').mg3r GitHub
  a(href='https://html5beta.com/page/timeline.html', rel='noreferrer', target='_blank').mg3r Resume
