section.sponsors-section
  .container
    .section-header
      h2 Sponsors
    .sponsors-grid
      a.sponsor-badge-link(href='https://www.atlascloud.ai/?utm_source=github&utm_medium=link&utm_campaign=electerm', target='_blank', rel='noreferrer')
        img.sponsor-badge(src='https://github.com/electerm/electerm-resource/blob/master/static/images/atlas-cloud.png?raw=true' alt='Atlas Cloud')
      a.sponsor-badge-link(href='https://www.digitalocean.com/?refcode=c10bcb28b846&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge', target='_blank', rel='noreferrer')
        img.sponsor-badge(src='https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%202.svg' alt='DigitalOcean')
      a.sponsor-badge-link(href='https://oss-directory.vercel.app', target='_blank', rel='noreferrer')
        img.sponsor-badge.sponsor-badge-sm(src='https://github.com/electerm/electerm-resource/blob/master/static/images/vercel-oss-2005.png?raw=true' alt='Vercel OSS Program')
    .become-sponsor
      p Interested in sponsoring electerm? Your support helps keep the project active and growing.
      a.sponsor-contact-link(href='mailto:zxdong@gmail.com?subject=Sponsorship%20Inquiry') Contact us to become a sponsor
