h2 GitHub sponsor

a(href='https://github.com/sponsors/electerm', rel='noreferrer') https://github.com/sponsors/electerm

h2 Open Collective

a(href='https://opencollective.com/electerm', rel='noreferrer') https://opencollective.com/electerm

h2 Wechat Donate

img(src='https://electerm.html5beta.com/electerm-wechat-donate.png')
