section.star-history
  .container
    .section-header
      h2 #{lang.lang.starHistoryTitle}
    a(href='https://www.star-history.com/#electerm/electerm&Date', rel='noreferrer', target='_blank', title='Star History Chart')
      img(src='https://api.star-history.com/svg?repos=electerm/electerm&type=Date' alt='Star History Chart', loading='lazy')
      span.sr-only View electerm star history on star-history.com
