h1
  span.hide electerm
  img(src='https://electerm.html5beta.com/electerm.png', alt='electerm')
.pd2y
  p #{desc}
  //- p
  //-   b.mg1r Online demo:
  //-   a(href='https://electerm-demo.html5beta.com', rel='noreferrer', title='Click to check online demo') https://electerm-demo.html5beta.com
