
img
  max-width 100%
.animate
#main
  position fixed
  left 0
  right 0
  bottom 0
  top 0
  z-index -1

#ca
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  z-index -1

h1, h2
  font-family 'Kaushan Script', cursive

body
  color #333
.color-grey
  color #666

hr
 border-color #999